<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Scripts.Render("~/scripts/jquery-1.10.2.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home" id="messageBox" data-toggle="popover" data-content="@TempData["messageBox"]" data-placement="bottom"><span class="glyphicon glyphicon-home"></span>Book Store</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   @Html.Partial("~/Views/Admin/_AdminPartial.cshtml")
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>  
    <div class="container body-content">
     @Html.Partial("_LogotypePartial")
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET <span class="admin-login-data">Admin login:<b>'admin@mail.net'</b>,pass:<b>'admin123'</b></span></p>          
        </footer>
    </div>
    @if (!Request.IsAuthenticated)
    {
    @Html.Partial("_RegModalPartial")
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Html.Partial("_ScriptsPartial")
</body>
</html>
