@model BookStore.Models.Book
@{
    ViewBag.Title = "About";
}
@if(ViewBag.searchTitle != null)
{
    <h3>Вы искали: @ViewBag.searchTitle</h3>
    <hr>
    <div class="searchObject">@ViewBag.searchDesc</div> 
}
@foreach (var Book in ViewBag.Books)
{
    <h2>@Book.Title</h2>
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <div class="detail">
                <img src="~/Content/@String.Concat(Book.Image,".jpg")" class="img-responsive" style="width:210px;height:350px">
            </div>
        </div>
        <div class="col-lg-7">
            <div class="about-info">
                <dl class="dl-horizontal">
                    <dt>Автор</dt>
                    @foreach (var a in Book.Authors)
                {
                        <dd>@a.AuthorName</dd>
                    }
                    <dt>Жанр</dt>
                    @foreach (var g in Book.Genres)
                {
                        <dd>@g.GenreName</dd>
                    }
                    <dt>Издание</dt>
                    <dd>@Book.Publishing</dd>
                    <dt>Кол-во страниц:</dt>
                    <dd>@Book.Pages</dd>
                    <dt>Цена</dt>
                    <dd>@Book.Price</dd>
                    <dt>Краткое описание</dt>
                    <dd>@Book.Description</dd>
                    @if (Request.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <dt><a href="/Admin/DeleteBook/@Book.Id" class="btn btn-danger btn-block" role="button">Удалить книгу</a></dt>
                    }
                    else
                    {
                        <dt class="detail-inCart">@Ajax.ActionLink("В корзину", "InCart", "Home", new { Book.Id, Book.Price }, new AjaxOptions { UpdateTargetId = "ajaxCart" }, new { @class = "btn btn-primary btn-block" })</dt>
                    }
                    
                    <dd>
                        <div class="inCart-annotation">
                            <span>Книга добавлена в корзину</span>
                            <div class="inCart-annotation-arrow"></div>
                        </div>
                    </dd>
                </dl>
            </div>                
        </div>
    </div>
}
